<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.incloud.hcp.myibatis.mapper.OrdenCompraMapper">

    <resultMap id="ordenCompraActivoResultMap" type="com.incloud.hcp.bean.OrdenCompraActivoCustom">
        <id property="numeroOrdenCompra" jdbcType="VARCHAR" column="numero_orden_compra" />
        <result property="numeroAgrupado" jdbcType="NUMERIC" column="numeroagrupado" />
    </resultMap>

    <resultMap id="ordenCompraResultMap" type="com.incloud.hcp.domain.OrdenCompra">
        <id property="id" jdbcType="INTEGER" column="id_orden_compra" />
        <result property="numeroOrdenCompra" jdbcType="VARCHAR" column="NUMERO_ORDEN_COMPRA" />


    </resultMap>

    <select id="getListaOrdenCompraMultiplesActivos" resultMap="ordenCompraActivoResultMap">
      select numero_orden_compra, numeroagrupado from (select
    numero_orden_compra,
     is_active, count(*) as numeroagrupado
          from orden_compra
           group by numero_orden_compra, is_active)
      where numeroagrupado > 1 and is_active = '1'
    </select>

    <select id="getListaOrdenCompra" resultMap="ordenCompraResultMap">

       select
    id_orden_compra,
    numero_orden_compra,
    version,
    is_active,
    id_tipo_orden_compra,
    id_estado_orden_compra,
    estado_sap,
    sociedad,
    comprador_usuario_sap,
    comprador_nombre,
    ultimo_liberador_usuario_sap,
    proveedor_codigo_sap,
    proveedor_ruc,
    proveedor_razon_social,
    codigo_moneda,
    total,
    condicion_pago,
    fecha_entrega,
    fecha_registro,
    fecha_modificacion,
    hora_modificacion,
    fecha_publicacion,
    fecha_visualizacion,
    fecha_aprobacion,
    motivo_rechazo,
    condicion_pago_desc,
    clase_orden_compra,
    lugar_entrega,
    indicador_contrato_marco,
    autorizador_fecha_liberacion,
    codigo_clase_orden_compra
    from iprovider_dev.orden_compra
    where 1 = 1

    </select>




</mapper>